{{define "title"}}About Me{{end}}
{{define "content"}}
<h2>This is About me page.</h2>
<ul>
    <li>My name is {{ .Name }}. </li>
    <li>My home city is {{ .City }}. </li>
    <li>My nationaliy is {{ .Nationality }}. </li>
</ul>
<p><a href="/">Home</a></p>
{{end}}